{% set postfix = salt['grains.filter_by']({
  'default' : {
    'packages': ['postfix', 'mailutils', 'libsasl2-2', 'ca-certificates', 'libsasl2-modules'],
    'cacert': '/etc/ssl/certs/thawte_Primary_Root_CA.pem',
    'relayhost': '[smtp.gmail.com]:587',
    'aliases_file': '/etc/aliases'
  }
}, merge=salt['pillar.get']('postfix-gmail:lookup'),
   default='default') %}
